{% doc %}
  @param {string} button_type - Accepts "submit", "url", "button". the type of button to render.
  @param {string} [custom_class] - Additional classes to add to the button.
  @param {string} [url] - The URL to link to if button_type is "url".
  @param {string} text - The text to display on the button.
  @param {string} [custom_attributes] - Additional attributes to add to the button element.
{% enddoc %}
{% liquid
  assign button_class = 'block px-4 py-2 w-full text-center cursor-pointer'
%}
{% if button_type == 'submit' %}
  <button class="{{ button_class }} {{ custom_class }}" type="submit" {{ custom_attributes }}>{{ text }}</button>
{% elsif button_type == 'url' %}
  <a class="button {{ button_class }} {{ custom_class }}" href="{{ url }}" {{ custom_attributes }}>{{ text }}</a>
{% else %}
  <button class="{{ button_class }} {{ custom_class }}" type="button" {{ custom_attributes }}>
    {{ text }}
  </button>
{% endif %}
