{% doc %}
  @description Simple menu, up to two levels

  @param {object} section - section object
{% enddoc %}

{% for menu in section.settings.menu.links %}
  <div
    class="group relative"
    data-menu-item
    {% if menu.links.size > 0 %}
      data-has-submenu
    {% endif %}
  >
    <a
      class="cursor-pointer hover:text-blue-600"
      href="{{ menu.url }}"
      data-menu-link
    >
      {{- menu.title -}}
    </a>
    {% if menu.links.size > 0 %}
      <div
        class="absolute left-0 mt-0 w-48 bg-white border border-gray-200 rounded-md shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200 py-2 z-10"
        data-submenu
      >
        {% for submenu in menu.links %}
          <div
            class="{% if submenu.links.size > 0 %}group/nested{% endif %} relative flex flex-col gap-3"
            data-submenu-item
            data-has-grandchild
          >
            <a class="hover:text-blue-600 px-3 py-1" href="{{ submenu.url }}">{{ submenu.title }}</a>
            {% if submenu.links.size > 0 %}
              <div
                class="flex flex-col gap-3 absolute left-full top-0 ml-0 w-40 bg-white border border-gray-200 rounded-md shadow-lg opacity-0 invisible group-hover/nested:opacity-100 group-hover/nested:visible transition-all duration-200 py-2"
                data-grandchildmenu
              >
                {% for grandchildmenu in submenu.links %}
                  <a class="cursor-pointer hover:text-blue-600 px-3 py-1" href="{{ grandchildmenu.url }}">
                    {{- grandchildmenu.title -}}
                  </a>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endfor %}
