{% doc %}
  @description Simple menu, up to two levels

  @param {object} section - section object
{% enddoc %}
<div class="bg-(--color-background) w-xs h-[100vh] p-4 shadow-md fixed top-0 right-0 z-2">
  <div>
    <button
      class="close-button"
    >
      {% render 'icon', size: 'md', name: 'close' %}
    </button>
  </div>
  <div class="mobile-menu-wrapper">
    {% for menu in section.settings.menu.links %}
      <div
        class="relative"
        data-menu-item
        {% if menu.links.size %}
          data-has-submenu
        {% endif %}
      >
        <a
          {% if menu.links.size > 0 %}
            data-href="{{ menu.url }}"
            class="cursor-pointer"
          {% else %}
            href="{{ menu.url }}"
          {% endif %}
          data-menu-link
        >
          {{- menu.title -}}
        </a>
        {% if menu.links.size > 0 %}
          <div
            class="hidden flex-col gap-3 p-3 rounded-md shadow-md bg-(--background-color) z-1 absolute top-[100%] w-[400%]"
            data-submenu
          >
            {% for submenu in menu.links %}
              <a href="{{ submenu.url }}">{{ submenu.title }}</a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
