{% doc %}
  @description Card element for product cards and blog cards in the collection list page

  @param {object} product - product
{% enddoc %}

<div class="p-2 shadow-sm">
  <a href="{{ product.url }}" class="inline-flex flex-col gap-2">
    {{ product.featured_image | image_url: width: 600, height: 600 | image_tag: alt: title }}
    <span class="inline-flex flex-col gap-1">
      <h3>{{ product.title }}</h3>
      {% if product.price != blank %}
        <span>{{ product.price }}</span>
      {% endif %}
    </span>
    <span>{{ product.description }}</span>
  </a>
</div>
