<div class="flex flex-col items-center justify-center {{ section.settings.height }} w-dvw relative gap-4">
  <div class="w-full h-full object-cover absolute top-0 left-0" data-background-image>
    {% if section.settings.image != blank -%}
      {{- section.settings.image_picker | image_url: width: 1200, height: 1200 | image_tag: loading: 'eager' -}}
    {%- endif %}
  </div>
  <div data-title>
    <h1>
      {% if section.settings.title != blank %}{{ section.settings.title }}{% else %}{{ collection.title }}{% endif %}
    </h1>
  </div>
  <div data-sub-title>
    {% if section.settings.subtitle != blank -%}
      {{- section.settings.subtitle -}}
    {%- else -%}
      {{- collection.description | truncate: 150 -}}
    {%- endif %}
  </div>
</div>
{% schema %}
{
  "name": "Collection Banner",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:collection_banner.title",
      "info": "t:collection_banner.title_info"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "t:collection_banner.subtitle",
      "info": "t:collection_banner.subtitle_info"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:collection_banner.image",
      "info": "t:collection_banner.image_info"
    },
    {
      "type": "select",
      "id": "height",
      "label": "t:collection_banner.height.name",
      "options": [
        {
          "value": "h-40",
          "label": "t:collection_banner.height.small"
        },
        {
          "value": "h-80",
          "label": "t:collection_banner.height.medium"
        },
        {
          "value": "h-dvh",
          "label": "t:collection_banner.height.large"
        }
      ],
      "default": "h-dvh"
    }
  ]
}
{% endschema %}
