<footer>
  <div class="footer-wrapper flex flex-col gap-3 {{ settings.container_width }} mx-auto py-4">
    <div class="flex flex-col gap-2" data-footer-newsletter>
      <h3>{{ section.settings.newsletter_heading }}</h3>
      {% form 'customer', class: 'flex gap-3 max-w-[500px]' %}
        {% render 'text-input',
          name: 'email',
          id: 'email',
          placeholder: section.settings.newsletter_placeholder,
          custom_class: 'w-full'
        %}
        {% render 'button',
          button_type: 'submit',
          text: section.settings.newsletter_button_label,
          custom_class: 'basis-xs'
        %}
      {% endform %}
    </div>

    <div data-footer-links>
      <div class="flex gap-3 items-center">
        {% for menu in section.settings.menu.links %}
          <a href="{{ menu.url }}">{{ menu.title }}</a>
        {% endfor %}
      </div>
    </div>

    <div class="flex gap-6">
      <div data-footer-policies>
        &copy;
        {{ 'now' | date: '%Y' }}
        {{ shop.name | link_to: routes.root_url }}, {{ powered_by_link }}
      </div>
      <div class="flex gap-3 justify-between">
        {% if shop.enabled_payment_types != blank %}
          <div>
            {{ shop.enabled_payment_types | payment_type_svg_tag }}
          </div>
        {% endif %}
        <div class="flex gap-3">
          {% if shop.refund_policy != blank -%}
            <a href="{{ shop.refund_policy.url }}">Refund Policy</a>
          {%- endif %}
          {% if shop.privacy_policy != blank -%}
            <a href="{{ shop.privacy_policy.url }}">Privacy Policy</a>
          {%- endif %}
          {% if shop.terms_of_service != blank -%}
            <a href="{{ shop.terms_of_service.url }}">Terms of Service</a>
          {%- endif %}
          {% if shop.shipping_policy -%}
            <a href="{{ shop.shipping_policy.url }}">Shipping Policy</a>
          {%- endif %}
        </div>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:footer.name",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:footer.menu"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "checkbox",
      "id": "show_newsletter",
      "label": "t:footer.newsletter.show",
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "label": "t:footer.newsletter.heading",
      "default": "Subscribe To Our Newsletter"
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": "t:footer.newsletter.placeholder",
      "default": "Your Email Here"
    },
    {
      "type": "text",
      "id": "newsletter_button_label",
      "label": "t:footer.newsletter.button_label",
      "default": "Subscribe"
    }
  ]
}
{% endschema %}
