<header>
  <div class="header-wrapper flex {{ settings.container_width }} mx-auto py-4 gap-3 justify-between">
    <div data-site-title>
      {% if section.settings.logo != blank -%}
        {{- section.settings.logo | image_url | image_tag: width: 60, height: 60, preload: true -}}
      {%- else -%}
        <h1>{{- shop.name -}}</h1>
      {%- endif %}
    </div>
    <div class="flex gap-3 items-center" data-header-menu>
      {% for menu in section.settings.menu.links %}
        <a href="{{ menu.url }}" {{ menu.title }}></a>
      {% endfor %}
    </div>
    <div class="flex gap-3 items-center" data-header-icons>
      <div>
        <a href="{{ routes.cart_url }}">{% render 'icon', size: 'md', name: 'cart' %}</a>
      </div>
      <div>
        <a href="{% if customer %}{{ routes.account_profile_url }}{% else %}{{ routes.account_login_url }}{% endif %}">
          {%- render 'icon', size: 'md', name: 'account' -%}
        </a>
      </div>
      <div>
        <a href="{{ routes.search_url }}">{% render 'icon', size: 'md', name: 'search' %}</a>
      </div>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "t:header.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:header.logo"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:header.main_menu"
    }
  ]
}
{% endschema %}
