<header>
  <header-menu>
    <div class="header-wrapper flex max-w-[90%] lg:{{ settings.container_width }} mx-auto py-4 gap-3 justify-between relative">
      <div data-site-title>
        {% if section.settings.logo != blank -%}
          {{- section.settings.logo | image_url | image_tag: width: 60, height: 60, preload: true -}}
        {%- else -%}
          <h1>{{- shop.name -}}</h1>
        {%- endif %}
      </div>
      <div class="menu--desktop hidden lg:flex items-center">
        <div
          class="hidden lg:flex gap-6 items-center"
          data-header-menu
          data-main-items="{{ section.settings.menu.links.size }}"
          x-data
        >
          {% if section.settings.enable_mega_menu == true %}
            {% for link in section.settings.menu.links %}
              <div data-top-level-item x-on:mouseover="console.log('this item is hovered')">
                <a href="{{ link.url }}">{{ link.title }}</a>
              </div>
            {% endfor %}
            <div
              data-megamenu-items
              class="absolute top-full"
              x-data="{ {%- for link in section.settings.menu.links -%}{{- link.url -}}:false{% unless forloop.last %},{% endunless %}{%- endfor -%}}"
            >
              {% for block in section.blocks %}
                {% content_for 'blocks' %}
              {% endfor %}
            </div>
          {% else %}
            {% render 'menu', section: section %}
          {% endif %}
        </div>
      </div>
      <details class="menu--mobile mobile-menu flex lg:hidden items-center">
        <summary class="block [&::-webkit-details-marker]:hidden">
          {% render 'icon', size: 'md', name: 'menu' %}
        </summary>
        {% render 'mobile-menu', section: section %}
      </details>
      <div class="hidden lg:flex gap-3 items-center " data-header-icons>
        <div>
          <a href="{{ routes.cart_url }}">{% render 'icon', size: 'md', name: 'cart' %}</a>
        </div>
        <div>
          <a href="{% if customer %}{{ routes.account_profile_url }}{% else %}{{ routes.account_login_url }}{% endif %}">
            {%- render 'icon', size: 'md', name: 'account' -%}
          </a>
        </div>
        <div>
          <a href="{{ routes.search_url }}">{% render 'icon', size: 'md', name: 'search' %}</a>
        </div>
      </div>
    </div>
  </header-menu>
</header>

{% schema %}
{
  "name": "t:header.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:header.logo"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:header.main_menu",
      "info": "t:header.main_menu_info"
    },
    {
      "type": "checkbox",
      "id": "enable_mega_menu",
      "label": "t:header.megamenu.enable",
      "info": "t:header.megamenu.enable_info",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "@theme"
    }
  ]
}
{% endschema %}
