{% liquid
  assign text_alignment = 'center'
  if section.settings.layout == 'start'
    assign text_alignment = 'left'
  elsif section.settings.layout == 'end'
    assign text_alignment = 'right'
  endif
%}
<div
  class="flex flex-col max-w-[90%] lg:{{ settings.container_width }} mx-auto justify-{{- section.settings.layout }} gap-3"
  data-rich-text
>
  <span class="hidden visibility-hidden max-w-[250px]" aria-hidden="true"></span>
  {% if section.settings.title != blank %}
    <div class="text-{{- text_alignment }}">
      <h2>{{ section.settings.title }}</h2>
    </div>
  {% endif %}
  {% if section.settings.subtitle != blank %}
    <div class="text-{{- text_alignment }}">
      <h3>{{ section.settings.subtitle }}</h3>
    </div>
  {% endif %}
  {% if section.settings.body_text != blank %}
    <div class="text-{{- text_alignment }}">
      {{ section.settings.body_text }}
    </div>
  {% endif %}
  {% if section.settings.button_text != blank %}
    <div class="text-{{- text_alignment }}">
      {% render 'button',
        button_type: section.settings.button_text,
        text: section.settings.button_text,
        url: section.settings.url,
        max_width: '250px'
      %}
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "t:rich_text.name",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:rich_text.title",
      "default": "Heading"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "t:rich_text.subtitle",
      "default": "Subheading"
    },
    {
      "type": "richtext",
      "id": "body_text",
      "label": "t:rich_text.body_text",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum leo felis, malesuada sed orci id, laoreet facilisis neque. Nullam ac tempus quam. Quisque in iaculis nibh. Morbi eleifend orci quis lacus luctus, eget efficitur sapien pretium</p>"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:rich_text.button_text",
      "default": "Go Now"
    },
    {
      "type": "url",
      "id": "url",
      "label": "t:rich_text.url"
    },
    {
      "type": "select",
      "id": "layout",
      "default": "center",
      "label": "t:rich_text.layout.label",
      "options": [
        {
          "label": "t:rich_text.layout.left",
          "value": "start"
        },
        {
          "label": "t:rich_text.layout.center",
          "value": "center"
        },
        {
          "label": "t:rich_text.layout.right",
          "value": "end"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:rich_text.name"
    }
  ]
}
{% endschema %}
